html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: white;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-image: url("../images/Poker-Background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#stats {
  position:fixed;
  top:20px;
  right:20px;
  height:150px;
  width:250px;
  background:rgba(0, 0, 0, 0.6);
}

#stats h2 {
  text-align: center;
}

#stats-content {
  width:100%;
  padding:8px;
}

#stats-content tr td:first-child {
  border-right: 1px solid #fff;
}

#history {
  position:fixed;
  top:20px;
  left:20px;
  height:400px;
  width:250px;
  background:rgba(0, 0, 0, 0.6);
}

#history h2 {
  text-align: center;
}

#history div {
  padding-top:10px;
  text-align: center;
}

#history-content {
  overflow-y:scroll;
}

p {
  margin: 8px 0;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

hr {
  border-width: 0.5px;
  margin: 0;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 20px;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 350px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 20px;
  width: 500px;
  margin: 0 10px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0;
  border: none;
  border-radius: 10px;
  -webkit-appearance: none;
  box-shadow: inset 0px 3px 3px rgb(0, 0, 0);
}

input[type="range" i]::-webkit-slider-thumb {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.8);
  -webkit-appearance: none;
}

#table {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container {
  width: 100%;
  margin: auto;
  text-align: center;
}

.btn-wrapper {
  height: 50px;
  width: 300px;
  margin: 15px auto;
}

#game-menu {
  list-style: none;
  padding: 0;
  width: 300px;
  margin: auto;
}

#game-menu .btn {
  padding: 20px 0;
}

#hero .card-container {
  width: 100px;
}

#villian .card-container img {
  max-width: 100px;
}

#community .card-container img {
  max-width: 160px;
}

#hero .card-container img {
  max-width: 160px;
}

.hand {
  display: flex;
  margin: auto;
}

#villian {
  min-height: 160px;
}

#villian .card-container {
  width: 60px;
}

#community {
  min-height: 250px;
  width: 900px;
  justify-content: center;
  margin: 10px auto;
}

#community .card-container {
  margin: 0 5px;
}

#pot {
  font-size: 20px;
  height: 30px;
  width: 30px;
  margin: 0 auto 30px auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  display: flex;
  align-items: center;
  box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.7);
}

#pot span {
  visibility: hidden;
}

#pot.active {
  width: 200px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#pot.active span {
  visibility: visible;
}

#hero {
  min-height: 250px;
  position: relative;
}

.actions {
  width: 320px;
}

#bet-slider {
  width: 100%;
}

#bet-slider.inactive {
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#bet-slider.active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#bet-slider.inactive span {
  visibility: hidden;
}

.left.actions.inactive {
  -webkit-transform: translateX(340px);
  transform: translateX(340px);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.left.actions.active {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.right.actions.inactive {
  -webkit-transform: translateX(-340px);
  transform: translateX(-340px);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.right.actions.active {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#villian-info {
  height: 80px;
  width: 300px;
  background-color: rgb(0, 0, 0);
  padding: 0 7px;
  border-radius: 6px;
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.3);
  justify-content: center;
  margin: 0 auto 20px auto;
  transform: perspective(200px) rotateX(10deg);
}

#hero-info {
  height: 80px;
  width: 600px;
  background-color: rgb(0, 0, 0);
  padding: 0 7px;
  border-radius: 6px;
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.3);
  z-index: 10;
  justify-content: center;
}

.dealer-chip {
  height: 20px;
  width: 20px;
  line-height: 20px;
  border-radius: 10px;
  background-color: white;
  color: black;
  margin-left: 10px;
}

.input-wrapper {
  width: 100%;
  padding: 30px;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-right {
  margin-right: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-left {
  margin-left: 0;
}

.btn {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 100%;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

@-webkit-keyframes hover-effect {
  50% {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
@keyframes hover-effect {
  50% {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.hover-effect {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hover-effect:hover,
.hover-effect:focus,
.hover-effect:active {
  -webkit-animation-name: hover-effect;
  animation-name: hover-effect;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: rgba(255, 255, 255, 0.2);
}
